<!DOCTYPE html>
{% extends 'navbar.html' %} {% block 'nav' %} {% load static %}
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'h.css' %}" type="text/css" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/boxicons@latest/css/boxicons.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/remixicon@3.0.0/fonts/remixicon.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link
      rel="icon"
      href="./2024-Lamborghini-Revuelto-009-1080-removebg-preview.png"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Poppins:wght@300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <title>HOME</title>
  </head>
  <body>
    <section class="main">
      <div class="main-text">
        <h3>buy your car</h3>
        <h1>project</h1>
        <p>
          this model will show all cars which you need, and give you a price of
          the car which you wanted.
        </p>
        <a href="">learn more</a>
        <a href="" class="ctaa">about</a>
      </div>
      <div class="main-img">
        <img
          src="{% static 'photos/2014-BMW-Vision-Gran-Turismo-005-1080-removebg-preview.png' %}"
          alt=""
        />
      </div>
    </section>
    <section class="b" id="two">
      <div class="card">
        <i class="fa-solid fa-car-burst"></i>
        <div class="content">
          <h2>guarantee</h2>
          <p>
            We provide a guarantee for the car if there is any accident for
            god's will and you can receive a new car in its place.
          </p>
        </div>
      </div>
      <div class="card">
        <i class="fa-solid fa-toolbox"></i>
        <div class="content">
          <h2 class="maint">maintenance</h2>
          <p>
            We have maintenance for all types of breakdowns and you can enjoy
            this feature by booking online to take a refund provided the
            warranty paper.
          </p>
        </div>
      </div>
      <div class="card">
        <i class="fa-solid fa-warehouse"></i>
        <div class="content">
          <h2 class="gar">garage</h2>
          <p>
            We have garages all over Egypt that can reach the nearest garage by
            Application on the phone to help you reach the garage near your
            site.
          </p>
        </div>
      </div>
    </section>
    <section class="c">
      <button id="prev-btn">
        <i class="fa-solid fa-arrow-left"></i>
      </button>
      <div id="book" class="book">
        <div id="p1" class="paper">
          <div class="front">
            <div id="f1" class="front-contentCover">
              <a href="" class="smalllogo"><span>ml</span>-cars</a>
              <img
                class="img"
                id="cov"
                src="{% static 'photos/2014-BMW-Vision-Gran-Turismo-005-1080-removebg-preview.png' %}"
                alt=""
              />
            </div>
          </div>
          <div class="back">
            <div id="b1" class="back-content">
              <img
                class="img"
                src="{% static 'photos/pexels-kelson-downes-1149137.jpg' %}"
                alt=""
              />
            </div>
          </div>
        </div>
        <div id="p2" class="paper">
          <div class="front">
            <div id="f2" class="front-content">
              <h1>toyota tacoma</h1>
              <p>
                The Toyota Tacoma is a pickup truck manufactured by the Japanese
                automobile manufacturer Toyota since 1995. The first-generation
                Tacoma (model years 1995 through 2004) was classified as a
                compact pickup. The second generation (model years 2005 through
                2015) and third generation (in production since 2015) models are
                classified as mid-sized pickups. The Tacoma was Motor Trend's
                Truck of the Year for 2005.
              </p>
            </div>
          </div>
          <div class="back">
            <div id="b2" class="back-content">
              <img
                class="img"
                src="{% static 'photos/pexels-erik-mclean-4713817.jpg' %}"
                alt=""
              />
            </div>
          </div>
        </div>
        <div id="p3" class="paper">
          <div class="front">
            <div id="f3" class="front-content">
              <h1>honda civic</h1>
              <p>
                The Honda Civic (Japanese: ホンダ・シビック, Hepburn: Honda
                Shibikku) is a series of automobiles manufactured by Honda since
                1972. Since 2000, the Civic has been categorized as a compact
                car, while previously it occupied the subcompact class.[by
                whom?] As of 2021, the Civic is positioned between the Honda
                Fit/City and Honda Accord in Honda's global car line-up.
              </p>
            </div>
          </div>
          <div class="back">
            <div id="b3" class="back-content">
              <img
                class="img"
                src="{% static 'photos/pexels-erik-mclean-4839260.jpg' %}"
                alt=""
              />
            </div>
          </div>
        </div>
        <div id="p4" class="paper">
          <div class="front">
            <div id="f4" class="front-content">
              <h1>nissan 370z</h1>
              <p>
                The 370Z is the sixth generation of the Nissan Z-car line,
                succeeding the 350Z. The 370Z marks the last production car with
                a naturally aspirated and high-rev V6 coupled to a manual
                transmission. The 2020 model year was the final model year for
                the 370Z.[6] The line was continued by the Nissan Z (RZ34) on a
                modified version of the same platform.
              </p>
            </div>
          </div>
          <div class="back">
            <div id="b4" class="back-content">
              <img
                class="img"
                src="{% static 'photos/pexels-ryan-pilato-5763092.jpg' %}"
                alt=""
              />
            </div>
          </div>
        </div>
        <div id="p5" class="paper">
          <div class="front">
            <div id="f5" class="front-content">
              <h1>golf 7 gTI</h1>
              <p>
                The Volkswagen Golf (Mk7) is a small family car (C-segment)
                produced by German automobile manufacturer Volkswagen as the
                seventh generation of the Golf and the successor to the Golf
                Mk6. It was introduced in Berlin on 4 September 2012, before a
                public launch at the 2012 Paris Motor Show.[5] Sales in Europe
                began with the model year of 2013, at the end of 2012.
              </p>
            </div>
          </div>
          <div class="back">
            <div id="b5" class="back-content">
              <img
                class="img"
                src="{% static 'photos/pexels-jonathan-cooper-9763014.jpg' %}"
                alt=""
              />
            </div>
          </div>
        </div>
        <div id="p6" class="paper">
          <div class="front">
            <div id="f6" class="front-content">
              <h1>toyota supra</h1>
              <p>
                The Toyota Supra (Japanese: トヨタ・スープラ, Hepburn: Toyota
                Sūpura) is a sports car and grand tourer manufactured by the
                Toyota Motor Corporation beginning in 1978. The name "supra" is
                derived from the Latin prefix, meaning "above", "to surpass" or
                "go beyond".
              </p>
            </div>
          </div>
          <div class="back">
            <div id="b6" class="back-content">
              <img
                class="img"
                src="{% static 'photos/pexels-abdulwahab-alawadhi-8561771.jpg' %}"
                alt=""
              />
            </div>
          </div>
        </div>
        <div id="p7" class="paper">
          <div class="front">
            <div id="f7" class="front-content">
              <h1>ford 150</h1>
              <p>
                The Ford F-Series is a series of light-duty trucks marketed and
                manufactured by Ford since the 1948 model year. Slotted above
                the Ford Ranger in the Ford truck model range, the F-Series is
                marketed as a range of full-sized pickup trucks.[1] Alongside
                the F-150 (introduced in 1975), the F-Series also includes the
                Super Duty series (introduced in 1999), which includes the
                heavier-duty F-250 through F-450 pickups, F-450/F-550 chassis
                cabs, and F-600/F-650/F-750 Class 6-8 commercial trucks.
              </p>
            </div>
          </div>
          <div class="back">
            <div id="b7" class="back-content">
              <img
                class="img"
                src="{% static 'photos/pexels-sachith-ravishka-kodikara-7588413.jpg' %}"
                alt=""
              />
            </div>
          </div>
        </div>
        <div id="p8" class="paper">
          <div class="front">
            <div id="f8" class="front-content">
              <h1>ford sVT cobra</h1>
              <p>
                The SVT Cobra was a high-performance version of the Ford Mustang
                and was considered top-of-the-line as it was positioned above
                the Mustang GT and Mach 1 models during its production. On three
                occasions, the race-ready, street-legal SVT Cobra R variant was
                produced in limited numbers, The SVT Cobra was succeeded by the
                2007 Shelby GT500.
              </p>
            </div>
          </div>
          <div class="back">
            <div id="b8" class="back-content">
              <img
                class="img"
                src="{% static 'photos/pexels-den-pilsh-8022351.jpg' %}"
                alt=""
              />
            </div>
          </div>
        </div>
        <div id="p9" class="paper">
          <div class="front">
            <div id="f9" class="front-content">
              <h1>bMW 430i</h1>
              <p>
                The F32 was introduced as the successor to the E92/E93
                coupé/convertible models of the fifth-generation 3 Series range.
                The F32 is produced alongside - and shares many features with -
                the F30 3 Series. As with the F30 3 Series range, the
                F32/F33/F36 is powered by turbocharged petrol and diesel engines
                with three cylinders (petrol only), four cylinders, and six
                cylinders.
              </p>
            </div>
          </div>
          <div class="back">
            <div id="b9" class="back-content">
              <img
                class="img"
                src="{% static 'photos/pexels-erik-mclean-5628270.jpg' %}"
                alt=""
              />
            </div>
          </div>
        </div>
        <div id="p10" class="paper">
          <div class="front">
            <div id="f10" class="front-content">
              <h1>bMW X4 2019</h1>
              <p>
                The BMW X4 is a compact luxury crossover SUV manufactured by BMW
                since 2014. It is marketed as a sports activity coupé (SAC),[1]
                the second model from BMW marketed as such after the X6, and
                features styling elements and the roofline of a traditional
                two-door coupé.[2] The X4 is widely considered as a "coupé"
                version of the X3, trading its practicality with a sloping rear
                roof which offers a sportier styling.
              </p>
            </div>
          </div>
          <div class="back">
            <div id="b10" class="back-content">
              <img
                class="img"
                src="{% static 'photos/pexels-daniel-spase-951318.jpg' %}"
                alt=""
              />
            </div>
          </div>
        </div>
        <div id="p11" class="paper">
          <div class="front">
            <div id="f11" class="front-content">
              <h1>bMW 640i</h1>
              <p>
                The first generation 6 Series was derived from the BMW E23 7
                Series, and was powered by a range of naturally aspirated
                inline-six gasoline engines. Following generations have been
                powered by inline-four, V8, and V10 engines with both natural
                aspiration and turbocharging. Since 2008, diesel engines have
                been included in the 6 Series range, with four-wheel drive
                models on offer since 2012.
              </p>
            </div>
          </div>
          <div class="back">
            <div id="b11" class="back-content">
              <img
                class="img"
                src="{% static 'photos/pexels-radu-daniel-(-mrd-)-9113922.jpg' %}"
                alt=""
              />
            </div>
          </div>
        </div>
        <div id="p12" class="paper">
          <div class="front">
            <div id="f12" class="front-content">
              <h1>audi A4</h1>
              <p>
                The Audi A4 is a line of luxury compact executive cars produced
                since 1994 by the German car manufacturer Audi, a subsidiary of
                the Volkswagen Group. The A4 has been built in five generations
                and is based on the Volkswagen Group B platform.
              </p>
            </div>
          </div>
          <div class="back">
            <div id="b12" class="back-content">
              <img
                class="img"
                src="{% static 'photos/pexels-ishan-kulshrestha-9334969.jpg' %}"
                alt=""
              />
            </div>
          </div>
        </div>
        <div id="p13" class="paper">
          <div class="front">
            <div id="f13" class="front-content">
              <h1>Ford Mustang GT</h1>
              <p>
                The Ford Mustang is a series of American automobiles
                manufactured by Ford. In continuous production since 1964, the
                Mustang is currently the longest-produced Ford car nameplate.
                Currently in its sixth generation, it is the fifth-best selling
                Ford car nameplate. The namesake of the "pony car" automobile
                segment, the Mustang was developed as a highly styled line of
                sporty coupes and convertibles derived from existing model
                lines, initially distinguished by "long hood, short deck"
                proportions.
              </p>
            </div>
          </div>
          <div class="back">
            <div id="b13" class="back-content">
              <img
                class="img"
                src="{% static 'photos/pexels-svh-2920064.jpg' %}"
                alt=""
              />
            </div>
          </div>
        </div>
        <div id="p14" class="paper">
          <div class="front">
            <div id="f14" class="front-content">
              <h1>hyundai tucson</h1>
              <p>
                The Hyundai Tucson (Korean: 현대 투싼) (pronounced Tu-són) is a
                compact crossover SUV produced by the South Korean manufacturer
                Hyundai since 2004. In the brand's lineup, the Tucson is
                positioned below the Santa Fe, and above the Kona and Creta. It
                is named after the city of Tucson, Arizona. The
                second-generation model has been marketed as the Hyundai ix35 in
                several markets, including Europe, Australia and China.
              </p>
            </div>
          </div>
          <div class="back">
            <div id="b14" class="back-content">
              <img
                class="img"
                src="{% static 'photos/pexels-maria-geller-2127037.jpg' %}"
                alt=""
              />
            </div>
          </div>
        </div>
        <div id="p15" class="paper">
          <div class="front">
            <div id="f15" class="front-content">
              <h1>mini cooper</h1>
              <p>
                The Mini is a small car made by the British Motor Corporation
                (BMC), British Leyland and Rover from 1959 to 2000. It used a
                transverse engine and front-wheel drive, where the turning power
                was put on the front wheels of the car rather than the back
                wheels. Its design saved a large amount of space. It allowed
                most of the car's size to be used for passengers and luggage. It
                had only two doors, but could seat up to four passengers.
              </p>
            </div>
          </div>
          <div class="back">
            <div id="b15" class="back-content">
              <img
                class="img"
                src="{% static 'photos/pexels-ishan-kulshrestha-7662147.jpg' %}"
                alt=""
              />
            </div>
          </div>
        </div>
        <div id="p16" class="paper">
          <div class="front">
            <div id="f16" class="front-content">
              <h1>mercedes aMG gT36</h1>
              <p>
                The Mercedes-AMG GT went on sale in two variants (GT and GT S)
                in March 2015, while a GT3 racing variant of the car was
                introduced in 2015. A high performance variant called the GT R
                was introduced in 2016. A GT4 racing variant, targeted at
                semi-professional drivers and based on the GT R variant, was
                introduced in 2017.
              </p>
            </div>
          </div>
          <div class="back">
            <div id="b16" class="back-content">
              <img
                class="img"
                src="{% static 'photos/pexels-mike-b-5519847.jpg' %}"
                alt=""
              />
            </div>
          </div>
        </div>
        <div id="p17" class="paper">
          <div class="front">
            <div id="f17" class="front-content">
              <h1>mercedes benz aMG gT</h1>
              <p>
                The Mercedes-AMG GT (C190 / R190) is a grand tourer produced in
                coupé and roadster bodystyles by German automobile manufacturer
                Mercedes-AMG. The car was introduced on 9 September 2014 and was
                officially unveiled to the public in October 2014 at the Paris
                Motor Show.
              </p>
            </div>
          </div>
          <div class="back">
            <div id="b17" class="back-content">
              <img
                class="img"
                src="{% static 'photos/pexels-erik-mclean-9846119.jpg' %}"
                alt=""
              />
            </div>
          </div>
        </div>
        <div id="p18" class="paper">
          <div class="front">
            <div id="f18" class="front-content">
              <h1>bMW m4 gTS</h1>
              <p>
                The BMW M4 is a high-performance version of the BMW 4 Series
                coupes and convertibles developed by BMW's motorsport division,
                BMW M, and marketed since 2014.
              </p>
            </div>
          </div>
          <div class="back">
            <div id="b18" class="back-content">
              <img
                class="img"
                src="{% static 'photos/pexels-spicy-photographer-7387470.jpg' %}"
                alt=""
              />
            </div>
          </div>
        </div>
        <div id="p19" class="paper">
          <div class="front">
            <div id="f19" class="front-content">
              <h1>bMW i8</h1>
              <p>
                The BMW i8 is a plug-in hybrid sports car developed by BMW. The
                i8 was part of BMW's electrified fleet and was marketed under
                the BMW i sub-brand. The production version of the BMW i8 was
                unveiled at the 2013 Frankfurt Motor Show and was released in
                Germany in June 2014.[12] Deliveries to retail customers in the
                U.S. began in August 2014.[13] A roadster variant was launched
                in May 2018.[14] Production ended in June 2020.
              </p>
            </div>
          </div>
          <div class="back">
            <div id="b19" class="back-content">
              <img
                class="img"
                src="{% static 'photos/pexels-erik-mclean-9661368.jpg' %}"
                alt=""
              />
            </div>
          </div>
        </div>
        <div id="p20" class="paper">
          <div class="front">
            <div id="f20" class="front-content">
              <h1>subaru impreza sTI</h1>
              <p>
                The Subaru Impreza (Japanese: スバル・インプレッサ, Hepburn:
                Subaru Inpuressa) is a compact car that has been manufactured by
                the Japanese automaker Subaru since 1992. It was introduced as a
                replacement for the Leone, with the predecessor's EA series
                engines replaced by the new EJ series. It is now in its sixth
                generation.
              </p>
            </div>
          </div>
          <div class="back">
            <div id="b20" class="back-content">
              <img
                class="img"
                src="{% static 'photos/pexels-derwin-edwards-10854780.jpg' %}"
                alt=""
              />
            </div>
          </div>
        </div>
        <div id="p21" class="paper">
          <div class="front">
            <div id="f21" class="front-content">
              <h1>dodge challenger 2019</h1>
              <p>
                The Dodge Challenger[1] is the name of three different
                generations of automobiles (two of those being pony cars)
                produced by American automobile manufacturer Dodge. However, the
                first use of the Challenger name by Dodge was in 1959 for
                marketing a "value version" of the full-sized Coronet Silver
                Challenger.
              </p>
            </div>
          </div>
          <div class="back">
            <div id="b21" class="back-content">
              <img
                class="img"
                src="{% static 'photos/pexels-jae-park-3772857.jpg' %}"
                alt=""
              />
            </div>
          </div>
        </div>
        <div id="p22" class="paper">
          <div class="front">
            <div id="f22" class="front-content">
              <h1>lamborghini huracan</h1>
              <p>
                The Lamborghini Huracán (Spanish for "hurricane"; [uɾaˈkan]) is
                a sports car manufactured by Italian automotive manufacturer
                Lamborghini replacing the previous V10 offering, the
                Gallardo.[5] The Huracán was revealed online in December
                2013,[6] making its worldwide debut at the 2014 Geneva Auto
                Show,[7] and was released in the market in the second quarter of
                2014.
              </p>
            </div>
          </div>
          <div class="back">
            <div id="b22" class="back-content">
              <img
                class="img"
                src="{% static 'photos/pexels-sachith-ravishka-kodikara-8911015.jpg' %}"
                alt=""
              />
            </div>
          </div>
        </div>
        <div id="p23" class="paper">
          <div class="front">
            <div id="f23" class="front-content">
              <h1>lamborghini murcielago sV</h1>
              <p>
                The Lamborghini Murciélago is a sports car produced by Italian
                automotive manufacturer Lamborghini between 2001 and 2010.
                Successor to the Diablo and flagship V12 of the automaker's
                lineup, the Murciélago was introduced as a coupé in 2001. The
                car was first available in North America for the 2002 model
                year.
              </p>
            </div>
          </div>
          <div class="back">
            <div id="b23" class="back-content">
              <img
                class="img"
                src="{% static 'photos/pexels-alexander-pöllinger-10566898.jpg' %}"
                alt=""
              />
            </div>
          </div>
        </div>
        <div id="p24" class="paper">
          <div class="front">
            <div id="f24" class="front-content">
              <h1>audi r8</h1>
              <p>
                The car is exclusively designed, developed, and manufactured by
                Audi AG's private subsidiary company manufacturing high
                performance automotive parts, Audi Sport GmbH (formerly quattro
                GmbH), and is based on the Lamborghini Gallardo and presently
                the Huracán platform.
              </p>
            </div>
          </div>
          <div class="back">
            <div id="b24" class="back-content">
              <img
                class="img"
                src="{% static 'photos/pexels-erik-mclean-4674347.jpg' %}"
                alt=""
              />
            </div>
          </div>
        </div>
        <div id="p25" class="paper">
          <div class="front">
            <div id="f25" class="front-content">
              <h1>ford f-150</h1>
              <p>
                The Ford F-Series is a series of light-duty trucks marketed and
                manufactured by Ford since the 1948 model year. Slotted above
                the Ford Ranger in the Ford truck model range, the F-Series is
                marketed as a range of full-sized pickup trucks.
              </p>
            </div>
          </div>
          <div class="back">
            <div id="b21" class="back-contentEnd">
              <h1>end</h1>
            </div>
          </div>
        </div>
      </div>
      <button id="next-btn">
        <i class="fa-solid fa-arrow-right"></i>
      </button>
    </section>
    <section class="d" id="d">
    </section>
    {% comment %} this form predict the price of cars {% endcomment %}
    <section class="e" id="e">
      <div class="form">
        <div class="img"><img src="{% static 'photos/c2.jpg' %}" alt="" /></div>
        <div class="input">
          <h1 class="h1">features</h1>
          <form id="f" action="#e" method="POST">
            {% csrf_token %}
            <div class="labels">
              <label for="">year</label>
              {% comment %} <label for="">transmission</label> {% endcomment %}
              <label for="">mileage</label>
              {% comment %} <label for="">fuelType</label> {% endcomment %}
              <label for="">tax</label>
              <label for="">mPG</label>
              <label for="">engine Size</label>
            </div>
            <div class="inputs">
              <input type="number" name="year" required />
              {% comment %} <input type="text" name="trans" required /> {%
              endcomment %} {% comment %}
              <select name="trans" id="t3" required>
                <option value="none">none</option>
                <option value="Automatic">automatic</option>
                <option value="Manual">manual</option>
                <option value="Semi-Auto">semi-auto</option>
              </select>
              {% endcomment %}

              <input type="number" name="mil" required />
              {% comment %} <input type="text" name="ft" required /> {%
              endcomment %} {% comment %}
              <select name="ft" id="ft" required>
                <option value="none">none</option>
                <option value="Diesel">diesel</option>
                <option value="Petrol">petrol</option>
              </select>
              {% endcomment %}

              <input type="number" name="tax" required />
              <input type="number" name="mpg" step="any" required />
              <input type="number" name="es" step="any" required />

              {% comment %} <input type="number" name="ei" required />
              <input type="number" name="ni" required />
              <input type="number" name="te" required />
              <input type="number" name="el" required />
              <input type="number" name="tw" required /> {% endcomment %}
            </div>
            <input class="sub" type="submit" name="ff" />
            {% if result %}
            <h1 class="price"><span>price =</span> {{result}}<span>$</span></h1>
            {% endif %}
          </form>
        </div>
      </div>
    </section>
    <footer id="foot">
      <div class="row">
        <div class="col">
          <a href="" class="log"><span>ml</span>-cars</a>
          <p>
            Subscribe Easy Tutorials Youtube Channel To Watch More Videos On
            Website Development
          </p>
        </div>
        <div class="col">
          <h3>
            Office
            <div class="underl"><span></span></div>
          </h3>
          <p>ITPL Road</p>
          <p>Hesham Tarek, Front-End</p>
          <p>Kafr-Elshikh, Egypt</p>
          <p class="email-id">heshamtarek@gmail.com</p>
          <h4>+20 - 1118872859 <i class="fa-brands fa-whatsapp"></i></h4>
        </div>
        <div class="col">
          <h3>
            Links
            <div class="underl"><span></span></div>
          </h3>
          <ul>
            <li><a href="">Home</a></li>
            <li><a href="">Services</a></li>
            <li><a href="">About Us</a></li>
            <li><a href="">Features</a></li>
            <li><a href="">Contacts</a></li>
          </ul>
        </div>
        <div class="col">
          <h3>
            Call Us
            <div class="underl"><span></span></div>
          </h3>
          <form>
            <i class="fa-regular fa-envelope"></i>
            <input type="email" placeholder="Enter your email" required />
            <button title="Send" type="submit">
              <i class="fa-solid fa-arrow-right"></i>
            </button>
          </form>
          <div class="all">
            <div class="social1">
              <a href="">
                <div class="iconnnn1">
                  <i class="fa-brands fa-facebook"></i>
                </div>
              </a>
            </div>
            <div class="social2">
              <a href="">
                <div class="iconnnn2">
                  <i class="fa-brands fa-instagram"></i>
                </div>
              </a>
            </div>
            <div class="social3">
              <a href="">
                <div class="iconnnn3">
                  <i class="fa-brands fa-twitter"></i>
                </div>
              </a>
            </div>
            <div class="social4">
              <a href="">
                <div class="iconnnn4">
                  <i class="fa-brands fa-youtube"></i>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <hr />
      <p class="cr">
        hesham tarek @ <span id="year"></span> - all rights reserved
      </p>
    </footer>
    <script src="https://unpkg.com/scrollreveal"></script>
    <script
      src="https://kit.fontawesome.com/c2e094ea21.js"
      crossorigin="anonymous"
    ></script>
    <script src="{% static 'home.js' %}"></script>
    {% endblock %}
  </body>
</html>
