<!DOCTYPE html>
{% extends 'navbar.html' %} {% block 'nav' %}
{% load static %}
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'home.css' %}" type="text/css" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/boxicons@latest/css/boxicons.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/remixicon@3.0.0/fonts/remixicon.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Poppins:wght@300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <title>HOME</title>
  </head>
  <body>
    <section class="main">
      <div class="main-text">
        <h3>buy your car</h3>
        <h1>project</h1>
        <p>this model will show all cars which you need, and give you a price of the car which you wanted.</p>
        <a href="##">learn more</a>
        <a href="##" class="ctaa">about</a>
      </div>
      <div class="main-img">
        <img src="{% static 'photos/2024-Lamborghini-Revuelto-009-1080-removebg-preview.png' %}" alt="not found"/>
      </div>
    </section>


    <section class="b" id="two">
      <div class="card">
          <i class="fa-solid fa-car-burst"></i>
          <div class="content">
              <h2>guarantee</h2>
              <p>We provide a guarantee for the car if there is any accident for god's will and you can receive a new car in its place.</p>
          </div>
      </div>
      <div class="card">
          <i class="fa-solid fa-toolbox"></i>
          <div class="content">
              <h2 class="maintenance">maintenance</h2>
              <p>We have maintenance for all types of breakdowns and you can enjoy this feature by booking online to take a refund provided the warranty paper.</p>
          </div>
      </div>
      <div class="card">
          <i class="fa-solid fa-warehouse"></i>
          <div class="content">
              <h2 class="gar">garage</h2>
              <p>We have garages all over Egypt that can reach the nearest garage by Application on the phone to help you reach the garage near your site.</p>
          </div>
      </div>
  </section>


    {% comment %} this form predict the price of cars {% endcomment %}

    <section class="e" id="e">
      <div class="form">
        <div class="img"><img src="{% static 'photos/pexels-yurii-hlei-1545743.jpg' %}" alt="" /></div>
        <div class="input">
          <h1 class="h1">features</h1>
          <form id="f" action="#e" method="POST">
            {% csrf_token %}
            <div class="labels">
              <label for="">year</label>
              <label for="">mileage</label>
              <label for="">tax</label>
              <label for="">mPG</label>
              <label for="">engine Size</label>
            </div>
            <div class="inputs">
              <input type="number" name="year" required />
              <input type="number" name="mil" required />
              <input type="number" name="tax" required />
              <input type="number" name="mpg" step="any" required />
              <input type="number" name="es" step="any" required />
            </div>
            <input class="sub" type="submit" name="ff" />
            {% if result %}
            <h1 class="price"><span>price =</span> {{result}}<span>$</span></h1>
            {% endif %}
          </form>
        </div>
      </div>
    </section>




    <footer id="foot">
      <div class="row">
        <div class="col">
          <a href="" class="log"><span>ml</span>-cars</a>
          <p>
            Subscribe Easy Tutorials Youtube Channel To Watch More Videos On
            Website Development
          </p>
        </div>
        <div class="col">
          <h3>
            Office
            <div class="underl"><span></span></div>
          </h3>
          <p>ITPL Road</p>
          <p>Hesham Tarek, Front-End</p>
          <p>Kafr-Elshikh, Egypt</p>
          <p class="email-id">heshamtarek@gmail.com</p>
          <h4>+20 - 1118872859 <i class="fa-brands fa-whatsapp"></i></h4>
        </div>
        <div class="col">
          <h3>
            Links
            <div class="underl"><span></span></div>
          </h3>
          <ul>
            <li><a href="">Home</a></li>
            <li><a href="">Services</a></li>
            <li><a href="">About Us</a></li>
            <li><a href="">Features</a></li>
            <li><a href="">Contacts</a></li>
          </ul>
        </div>
        <div class="col">
          <h3>
            Call Us
            <div class="underl"><span></span></div>
          </h3>
          <form>
            <i class="fa-regular fa-envelope"></i>
            <input type="email" placeholder="Enter your email" required />
            <button title="Send" type="submit">
              <i class="fa-solid fa-arrow-right"></i>
            </button>
          </form>
          <div class="all">
            <div class="social1">
              <a href="">
                <div class="iconnnn1">
                  <i class="fa-brands fa-facebook"></i>
                </div>
              </a>
            </div>
            <div class="social2">
              <a href="">
                <div class="iconnnn2">
                  <i class="fa-brands fa-instagram"></i>
                </div>
              </a>
            </div>
            <div class="social3">
              <a href="">
                <div class="iconnnn3">
                  <i class="fa-brands fa-twitter"></i>
                </div>
              </a>
            </div>
            <div class="social4">
              <a href="">
                <div class="iconnnn4">
                  <i class="fa-brands fa-youtube"></i>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <hr />
      <p class="cr">
        hesham tarek @ <span id="year"></span> - all rights reserved
      </p>
    </footer>
    <script src="https://unpkg.com/scrollreveal"></script>
    <script
      src="https://kit.fontawesome.com/c2e094ea21.js"
      crossorigin="anonymous"
    ></script>
    <script src="{% static 'home.js' %}"></script>
    {% endblock %}
  </body>
</html>
